.login-form {
    width: 300px;
    margin: 0 auto;
}
.login-form-button {
    width: 100%;
    background:#f73e3e;
    border: 0px;
}
.login-form-button:hover {
    background:#b645d9;
    border: 0px;
}